/* pour supprimer les éventuels margin et padding dans les différents navigateurs */
* {
    margin: 0;
    padding: 0;
}

/* Balises structurantes */
body {
    font-family: Arial, Helvetica, sans-serif;
    color: rgb(45, 45, 45);
    display: flex;
    flex-direction: column;
    width: 100%;
}

header {
    background-color: rgb(45, 45, 45);
    text-align: center;
    padding: 5%;
}

footer {
    background-color: rgb(45, 45, 45);
    font-family: Impact, Haettenschweiler, 'Arial Narrow Bold', sans-serif;
    font-size: 2em;
    color: white;
    text-align: center;
    padding-top: 5%;
    padding-bottom: 5%;
}

/* menu de navigation */
nav {
    background-color: rgb(211, 12, 92);
    font-family: Arial, Helvetica, sans-serif;
    font-weight: bold;
    position: sticky;
    z-index: 10;
    display: flex;
    flex-direction: row;
    justify-content: space-around;
    flex-wrap: wrap;
    width: 100%;
    font-size: 1.5em;
}
nav a {
    padding: 10px;
    text-align: center;
    text-decoration: none;
    color: white;
}

main {
    margin: 5%;
}

/* Balises titres et texte */
h1, header p {
    font-family: Impact, Haettenschweiler, 'Arial Narrow Bold', sans-serif;
    font-size: 4em;
    color: rgb(211, 12, 92);
    margin: 2%;
}
header p {
    color: white;
}

h2 {
    font-family: Impact, Haettenschweiler, 'Arial Narrow Bold', sans-serif;
    font-size: 3em;
    color: rgb(45, 45, 45);
    margin-top: 5%;
    margin-bottom: 5%;
}

h3 {
    font-family: Impact, Haettenschweiler, 'Arial Narrow Bold', sans-serif;
    font-size: 2em;
    color: rgb(211, 12, 92);
    margin-top: 3%;
    margin-bottom: 3%;
}

p, li {
    font-size: 1.25em;
    line-height: 1.5em;
}
li {
    line-height: 2em;
    margin-left: 10%;
}

a {
    color: rgb(211, 12, 92);
    /* font-size: 1.5em; */
}
a:hover, a:active, a:focus {
    background-color: rgb(88, 8, 40);
    color: white;
}

.infos-complementaires, #formulaire {
    font-size: 1.5em;
}

/* Troisième section : les compétences pro */

#competences1, #competences2 {
    display: flex;
    flex-direction: row;
    justify-content: space-around;
}

#competences2 {
    margin-top: 5%;
}

#savoir-etre, #savoirs, #savoir-faire, #competences {
    width: 40%;
}

article h3 {
    text-align: center;
}
article ul {
    display: none;
}
article:hover ul{
    display: inherit;
    background-color: rgb(45, 45, 45);
    color: white;
}



/* Quatrième section : les formations */
#formations {
    display: flex;
    flex-direction: row;
    justify-content: space-around;
}

#formations article{
    width: 40%;
    text-align: center;
}


/* Cinquième section : les réalisations */

#realisations {
    display: flex;
    flex-direction: row;
    justify-content: space-around;
}

#realisations article {
    width: 25%;
    text-align: center;
    font-size: 0.9em;
}

/* Balises concernant le formulaire */
form {
    background-color: rgb(126, 202, 163);
    padding: 2%;
    width: 75%;

}

#formulaire {
    display: flex;
    flex-direction: column;
    line-height: 2em;
}

input {
    height: 3em;
    
}

#nom-prenom, #email, #objet {
    width:50%;
}
#telephone {
    width: 30%;
}



/* concerne les boutons  "Envoyer et "Haut de page" */
#envoi {
    background-color: rgb(211, 12, 92);
    color: white;
    border-radius: 10%;
    transition-duration: 0.4s;
    font-size: 1.25em;
}
